@import './_globals.scss';

.home-view {
    text-align: center;
    padding: 2rem;
    background-color: $primary-background-color;
    color: $primary-color;

    .description {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 0;
        /* Remove any padding */

        @media (min-width: 1090px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
        }

        .nav-item {
            list-style: none;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 0;
            /* Remove any padding */

            &.nav-item-full {
                @media (min-width: 1090px) {
                    grid-column: span 3;
                }
            }

            .nav-link {
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: bold;
                border-radius: 5px;
                background-color: $primary-background-color;
                color: $primary-color;
                transition: background-color 0.3s ease, transform 0.2s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1rem;

                &:hover {
                    background-color: #eaeaea;
                    transform: translateY(-2px);
                }

                &:focus-visible {
                    outline: 2px solid #007bff;
                }

                .nav-image {
                    height: 150px;
                    width: auto;
                    /* Ensure responsiveness */
                    margin: 0.5rem;
                    transition: transform 0.3s ease;

                    /* Scale down images larger than 500px */
                    @media (max-width: 501px) {
                        height: 100px;
                        width: auto;
                    }
                }

                .nav-text {
                    font-size: 1rem;
                    margin-top: 0.5rem;
                    color: $primary-color;
                }
            }
        }
    }

    .logout-button {
        @include button-style($logout-color);
        color: #fff;

        &:hover,
        &:focus-visible {
            background-color: darken($logout-color, 10%);
        }
    }

    @media (max-width: 768px) {
        .logout-button {
            font-size: 0.7rem; // Adjust the font size for mobile view
            padding: 0.5rem 1rem; // Adjust the padding for mobile view
        }
    }
}